.discounts{
 font-size: 19px;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #d84e55;
    margin-top: 15px;
}   
.reg{
    font-size: 20px;
    color: blue;
    font-weight: 200px;
}